:root {
    --bg-clr: #312b21;
    --action-clr: #894e1d;
    --white-clr: #e1d2b8;
    --gray-clr: #9b775d;
    --light-action-clr: #dba084;
}

body {
    background-color: #1E1E1E;
    font-family: 'Exo 2', sans-serif;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 0.5fr repeat(4, 1fr);
    grid-template-areas: "nv nv nv nv nv nv nv"
        "cnt cnt cnt cnt cnt cnt cnt";
}

nav {
    display: flex;
    padding: .6rem;
    gap: 1rem;
    align-items: center;
    justify-content: space-around;
    background-color: var(--white-clr);
    grid-area: nv;
}

nav .title {
    color: var(--action-clr);
    text-align: center;
    line-height: 1.9ch;
    border-right: var(--action-clr) solid 3px;
    padding-right: .6rem;
}

.action:hover {
    background-color: var(--bg-clr);

}

nav>input:focus {
    outline: none;
}

nav>input {
    flex-grow: .3;
    max-height: 2rem;
    color: var(--action-clr)
}

nav>input::selection {
    background-color: var(--light-action-clr);
    color: var(--white-clr)
}

.curve-proto {
    padding: .5rem 1rem;
    border-radius: .7em;
    -webkit-border-radius: .7em;
    -moz-border-radius: .7em;
    -ms-border-radius: .7em;
    -o-border-radius: .7em;
    border: none;
}

.action {
    grid-column-start: 7;
    justify-self: center;
    color: var(--white-clr);
    cursor: pointer;
    background-color: var(--action-clr);
    border: none;
    transition: all ease-in 100ms;
    -webkit-transition: all ease-in 100ms;
    -moz-transition: all ease-in 100ms;
    -ms-transition: all ease-in 100ms;
    -o-transition: all ease-in 100ms;
}

.title p {
    font-weight: 100;
}