:root {
    --bg-clr: #312b21;
    --action-clr: #894e1d;
    --white-clr: #e1d2b8;
    --gray-clr: #9b775d;
    --light-action-clr: #dba084;
}

body {
    background-color: #1E1E1E;
    font-family: 'Exo 2', sans-serif;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: minmax(75px, 0.1fr) minmax(20rem, 1fr);
    grid-template-areas: "nv"
        "cn";
}

nav {
    display: flex;
    padding: 1em;
    gap: 1rem;
    align-content: center;
    justify-content: space-around;
    background-color: var(--white-clr);
    grid-area: nv;
    flex-wrap: wrap;
    align-items: center;
    /* Added */
}

nav .title {
    color: var(--action-clr);
    text-align: center;
    line-height: 1.9ch;
    white-space: nowrap;
}

button:hover {
    background-color: var(--bg-clr);

}

input:focus {
    outline: none;
}

input {
    flex-grow: .4;
    color: var(--action-clr);
    align-self: flex-end;
}

input::selection {
    background-color: var(--light-action-clr);
    color: var(--bg-clr)
}

.curve-proto {
    padding: .5rem 1rem;
    border-radius: .7em;
    -webkit-border-radius: .7em;
    -moz-border-radius: .7em;
    -ms-border-radius: .7em;
    -o-border-radius: .7em;
    border: none;
}

button {
    grid-column-start: 7;
    justify-self: center;
    color: var(--white-clr);
    cursor: pointer;
    background-color: var(--action-clr);
    border: none;
    transition: all ease-in 100ms;
    -webkit-transition: all ease-in 100ms;
    -moz-transition: all ease-in 100ms;
    -ms-transition: all ease-in 100ms;
    -o-transition: all ease-in 100ms;
}

.title p {
    font-weight: 100;
}

.btns {
    display: flex;
    gap: .6rem;

}

.book .details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: .4rem;

}



.book {
    color: var(--action-clr);
    max-width: 38rem;
    display: flex;
    gap: 2ch;
    background-color: var(--white-clr);
    transition: all ease-in-out 150ms;
    -webkit-transition: all ease-in-out 150ms;
    -moz-transition: all ease-in-out 150ms;
    -ms-transition: all ease-in-out 150ms;
    -o-transition: all ease-in-out 150ms;
    position: relative;
}

.book:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.book>img {
    width: 6rem;
    height: auto;
    border-radius: .6rem;
    -webkit-border-radius: .6rem;
    -moz-border-radius: .6rem;
    -ms-border-radius: .6rem;
    -o-border-radius: .6rem;
}

.firstLoad {
    display: flex;
    justify-content: center;
    text-align: center;
}

article {
    overflow-x: hidden;
    padding: 2.2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-auto-rows: 9rem;
    gap: 1rem;
    grid-area: cn;
}

.firstLoad>h2,
a,
a:link {
    color: var(--white-clr);
}

a:visited {
    color: var(--action-clr);
}

h1,
a,
a:link {
    max-width: 40ch;
    text-align: center;
    transform: scale(0.94);
    animation: scale 1s forwards cubic-bezier(0.5, 1, 0.89, 1);
    -webkit-animation: scale 1s forwards cubic-bezier(0.5, 1, 0.89, 1);
}


footer {
    background-color: var(--white-clr);
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer>*>* {
    color: var(--action-clr)
}

@keyframes scale {
    100% {
        transform: scale(1);
    }
}

@keyframes fade-in {
    100% {
        opacity: 1;
        filter: blur(0);
    }
}

span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
}

span:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
    animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
    -webkit-animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}



.modal {
    display: none;
    opacity: 0;
    transition: all ease-in 200ms;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .9);
    -webkit-transition: all ease-in 200ms;
    -moz-transition: all ease-in 200ms;
    -ms-transition: all ease-in 200ms;
    -o-transition: all ease-in 200ms;

}

.visible {
    z-index: 4;
    opacity: 1;
    display: flex;

}

.modal-info>h2 {
    color: var(--action-clr);
}

.modify-overlay>* {
    width: 100%;
    margin: 0;
}

.modify-overlay>:first-child:hover {
    background-color: darkgreen;

}

.modify-overlay>:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.modify-overlay>:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.modify-overlay>:last-child:hover {
    background-color: darkred;

}

.modify-overlay {
    padding: 0;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: var(--action-clr);
    opacity: 0;
    transition: all ease-in 150ms;
    -webkit-transition: all ease-in 150ms;
    -moz-transition: all ease-in 150ms;
    -ms-transition: all ease-in 150ms;
    -o-transition: all ease-in 150ms;
}

.book>.modify-overlay:hover {
    opacity: 1;
}

.status {
    border-radius: 10rem;
    min-height: 10px;
    min-width: 5px;
    background-color: darkred;


}

form>* {
    height: 3.3rem;
}

.exit-instructions::after {
    content: "Press esc to cancel";
    color: var(--gray-clr);
}

form {
    justify-content: center;
    text-align: center;
    background-color: var(--white-clr);
    gap: 1rem;
    padding: 2rem;
    border-radius: .7rem;
    display: flex;
    flex-direction: column;
    -webkit-border-radius: .7rem;
    -moz-border-radius: .7rem;
    -ms-border-radius: .7rem;
    -o-border-radius: .7rem;
}

@media screen and (max-width:626px) {
    nav>input {
        order: 3;
        flex: 1;
    }

    .container {
        grid-template-rows: .2fr minmax(20rem, 1fr);
    }

    .exit-instructions::after {
        content: "Click anywhere to cancel";
    }

    article {
        justify-content: center;
    }

    nav {
        justify-content: center;
    }
}